<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
                <meta property="wb:webmaster" content="397a4c282ef1bdba" />
		<meta name="description" content="{{ page.title }} | 技术改变世界">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>{{ page.title }}</title>
		<!--[if lte IE 9]><meta http-equiv="refresh" content="0;url=/assets/ie.html"><![endif]-->
		<link rel="shortcut icon" href="/assets/images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-45407331-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	"		})();
		</script>
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        TeX: {equationNumbers: {autoNumber: ["AMS"], useLabelIds: true}},
        "HTML-CSS": {linebreaks: {automatic: true}},
        SVG: {linebreaks: {automatic: true}}
        });
        </script>
		
	</head>
	<body>
		<nav id="nav">
		    <a id="random" href="#"><img id="profile" src="/assets/images/profile.png" alt="" height="100" width="100"></a>
			<ul id="menu">
				<li id="label1" class="label selected"><span>最新文章</span></li>
				<li id="label2" class="label"><span>机器学习</span></li>
				<li id="label3" class="label"><span>数据可视化</span></li>
				<li id="label4" class="label"><span>数据挖掘</span></li>
				<li id="label5" class="label"><span>其他技术</span></li>
				<li id="label6" class="label"><span>生活随笔</span></li>
				<a id="about" href="/index.html">关于我</a>
			</ul>

		</nav>

		<aside id="sidebar">
			<div id="title_wrap" class="select1">
				<h2 id="title1" class="title">最新文章</h2>
				<h2 id="title2" class="title">机器学习</h2>
				<h2 id="title3" class="title">数据可视化</h2>
				<h2 id="title4" class="title">数据挖掘</h2>
				<h2 id="title5" class="title">其他技术</h2>
				<h2 id="title6" class="title">生活随笔</h2>
			</div>

			<div id="post_list">
			{% for post in site.posts %}
				<a class="{{ post.categories }} cate1" href="{{ post.url }}"><span class="circle_icon"></span>{{ post.title }}<span class="date">{{ post.date | date: "%b %Y" }}</span></a>
			{% endfor %}
			</div>
		</aside>

		<div id="container">
			<div id="pjax">
				
				{{ content }}
			</div>
		</div>

		<div id="notice">左右滑动</div>
		<script type="text/javascript" src="/assets/js/jquery.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.pjax.js"></script>
		<script type="text/javascript" src="/assets/js/script.js"></script>
		
		<script>
		$(document).ready(function(){
		$("#random").on('click','img',function(){
			$.get("sitemap.xml",function(data){
			var $xml=$(data);
			url=$xml.find("url");
			n = url.size();
			n = getRandom(n);
			position=url.get(n);  
			hello=position.getElementsByTagName("loc")[0].firstChild.nodeValue; 
			location.href=hello;
		})
    
	})
  //随机数发生器
       function getRandom(n){return Math.floor(Math.random()*(n+1))}
})
	</script>
		
	</body>
</html>
