---
layout: index
---

<article id="post">
	<header id="header">
		<h1 id="identifier">{{ page.title }}</h1>
		<button id="fullscreen" class="header_icon"></button>
		<button id="fontsize" class="header_icon"></button>
	</header>
	<div id="content">
		{{ content }}
		
		<div id="donation">
		<b><a href="https://me.alipay.com/bigchao">Buy Me A Drink!</a>>, Come on!:)</b>
		</div>
		<div id="social">
		    <a id="weibo" href="http://v.t.sina.com.cn/share/share.php?url=http://yangchao.me{{ page.url }}&title={{ page.title }}"></a>
			<a id="twitter" href="https://twitter.com/intent/tweet?url=http://yangchao.me{{ page.url }}&text={{ page.title }}"></a>
			<a id="end_cc" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/"></a>
		</div>
	</div>
</article>

<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink" target="_blank">Loading Disqus comments...</a>


